body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  border: 4px solid grey;
}
.about-me {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.projects {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.project-item {
  background-color: #f9f9f9;
  border-left: 6px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.contact {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.contact-item {
  margin-bottom: 10px;
}
. contact-item a {
  text-decoration: none;
  color: #337ab7;
}
.contact-item a:hover {
  color: #23527c;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .profile-pic {
    box-shadow: 0 2px 4px gray;
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .about-me,
  .projects,
  .contact {
    padding: 10px;
  }
  .project-item {
    padding: 5px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 5px;
  }
  .profile-pic {
    box-shadow: 0 2px 4px gray;
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .about-me,
  .projects,
  .contact {
    padding: 5px;
  }
  .project-item {
    padding: 2px;
  }
}
